.loader {
    position: absolute;
    left: 50%;
    top: 75px;
}

hr {
    border-top: 1px solid #ccc;
}

.list-group a:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group a:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group a:hover {
    background: #ece5e5;
    border-left: 1px solid #0852f1;
    color: #210af0b0;
}

.panel-default>.panel-heading {
    background-color: #e1e1e1;
    border-color: #ccc;
}
